
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Gruppo&family=Noto+Sans+Indic+Siyaq+Numbers&family=Tulpen+One&display=swap');
.cursor-effect{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: fixed;
    /* transition: all linear  0.1s;  */
    z-index: 0;
    box-shadow: 0px 0px 48px 15px white;
    mix-blend-mode: difference;
    display: none;
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    cursor: context-menu;
   
}





.fixed-element{
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(./image/GztY49M\ \(1\).gif);
    background-size: cover;
    top: 0%;
    left: -24%;
/* transform: scale(0); */
    animation-name: banner-moon;
    animation-duration: 0.5s;
    animation-delay: 7s;
    animation-fill-mode: both;
}


@keyframes banner-moon {

    0%{
        transform: scale(0) ;
    }
    
    30%{
        transform: scale(1.5);
    }
    
    100%{
        transform: scale(1);
    }
    
}



.main-preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 106;
    animation-name: main-preloader;
    animation-fill-mode: forwards;
animation-delay: 8s;
    animation-duration: 0.2s;
}


@keyframes main-preloader {
    
    0%{
        display: block;
    }
    
    100%{
        display: none;
    }


}

.container-preloader{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 105;
}

.preloader{
    background-color: white;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    position: absolute;
    /* left: 25%; */
    
z-index: 99;
    animation-name: preloader;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transform: scale(5);
}



@keyframes preloader {

    0%{
        opacity: 1;
        transform: scale(5);
    }
    
    50%{
        transform: scale(0);
        /* opacity: 0; */
    }
    
    100%{
        /* opacity: 0;
        
        display: none; */

        transform: scale(0)
    }
    
}


 .preloader-2{

    width: 700px;
    height: 700px;
    background-color: rgb(39, 35, 35);
    border-radius: 100%;
    position: absolute;
    /* left: 25%; */
    
z-index: 100;
    animation-name: preloader-2;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

}



@keyframes preloader-2 {

    0%{
        opacity: 1;
        transform: scale(5);
    }
    
    50%{
        transform: scale(0);
        /* opacity: 0; */
    }
    
    100%{
        /* opacity: 0;
        
        display: none; */

        transform: scale(0)
    }
    
}

.preloader-3{

    width: 700px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: absolute;
    /* left: 25%; */
    
z-index: 100;
    animation-name: preloader-3;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}



@keyframes preloader-3 {

    0%{
        opacity: 1;
        transform: scale(5);
    }
    
    50%{
        transform: scale(0);
        /* opacity: 0; */
    }
    
    100%{
        /* opacity: 0;
        
        display: none; */

        transform: scale(0)
    }
    
}










.hero-banner{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    
}

.hero-banner .div-top-bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2% 1% 2% 1%;
   transition: 0.5s;
   cursor: context-menu;
   
}

.hero-banner .div-top-bar .header-btn {
    font-size: 16px;
}



.hero-banner .div-top-bar:hover .item-top{ 

filter: blur(5px);

}

.hero-banner .div-top-bar .item-top{ 
transition: 0.5s;
}


.hero-banner .div-top-bar .item-top:hover{ 
    letter-spacing: 3px;
filter: blur(0px);

}



.hero-banner .div-top-bar .item-one{
   color: white;
   font-size: 25px;
   margin-left: 5%;

}

.hero-banner .div-top-bar .item-two{
   color: white;
   font-size: 25px;
   text-align: center;
   margin-left: 20%;

}

.hero-banner .div-top-bar .item-three{
   color: white;
   font-size: 25px;
   text-align: center;
   margin-right: 15%;

}



.hero-banner .div-right-bar{
    display: flex;
    /* height: 100%; */
    width: 35%;
    transform: rotate(90deg);

    /* background-color: aqua; */
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 2% 1% 0% 1%;
    color: white;
    position: absolute;
    right: -15%;
    top: 50%;
    z-index: 1;
 }

 .hero-banner .div-right-bar .item-one{
    color: white;
    
    font-size: 15px;
    
 
 }
 
 .hero-banner .div-right-bar .item-two{
    color: white;
    
    font-size: 15px;
    
 
 }

 .hero-banner .div-right-bar .item-three{
    color: white;
    
    font-size: 15px;
    
 
 }


 .hero-banner .div-right-bar:hover .item-right{ 

    filter: blur(5px);

    
    cursor: context-menu;
    
    }
    
    .hero-banner .div-right-bar .item-right{ 
    transition: 0.5s;
    }
    
    
    .hero-banner .div-right-bar .item-right:hover{ 
    
        letter-spacing: 5px;
    filter: blur(0px);
    
    }




.mouseNav{
    text-decoration: none;
    color: white;
    cursor: none;
    font-size: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: down;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    
}


@keyframes down {

    0%,100% {
        transform: translate(0px, -7px);
    }
    
    50% {
        transform: translate(0px, 7px);
    }
    
}





.sec_1{
width: 100%;
height:100%;
position: relative;

z-index: 0;
display: flex;
flex-direction: column;
align-items: center;
cursor: context-menu;
overflow: hidden;
}

.sec_1 .colum-1 {
    position: relative;
    
    width: 30%;
    /* mix-blend-mode: hard-light; */
    display: flex;
    flex-direction: column;

    
}








::-webkit-scrollbar{
    display: none;
}



.heading-name{
    font-size: 10vw;
    font-weight: 900;
    margin: 0%;
    background-image: linear-gradient(45deg, rgb(43, 43, 43), white);
    /* background-image: url(./image/HD-wallpaper-white-triangle-texture-background-elegant-luxury-pattern-premium.jpg); */
    background-size: cover;
    background-position: 28% 53%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-left: -10%; */
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    
    mix-blend-mode: difference;
    
animation-name: moon;
animation-duration:5.5s;
animation-fill-mode: both;
animation-delay: 2s;
/* animation-iteration-count: infinite; */


    }


@keyframes moon {

    0% {background-color: white;
    transform: scale(3.5);
    }
    10% {background-color: white;}
    20% {background-image: linear-gradient(45deg, rgb(110, 110, 110), white);}
    
    30% {background-image: linear-gradient(90deg, black, white);}
    40% {background-image: linear-gradient(135deg, black, white);}
    50% {background-image: linear-gradient(180deg, black, white);}
    60% {background-image: linear-gradient(235deg, black, white);}
    80% {background-image: linear-gradient(280deg, black, white);
    
    }
    90% {background-image: linear-gradient(325deg, black, white);
    
    }
    100% {background-image: linear-gradient(360deg, black, white);;
        transform: scale(1.7);
    }
    
}



.heading-last-name{


   font-size: 10vw;
   font-weight: 900;
   margin: 0%;
   background-image: linear-gradient(45deg, rgb(43, 43, 43), white);
   /* background-image: url(./image/HD-wallpaper-white-triangle-texture-background-elegant-luxury-pattern-premium.jpg); */
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   /* margin-left: 10%; */
   text-align: center;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   width: 100%;
   color: rgb(255, 255, 255);
   
   mix-blend-mode: difference;
   
   animation-name: moon;
   animation-duration:5.5s;
   animation-fill-mode: both;
   animation-delay: 2s;
   /* animation-iteration-count: infinite; */


}




.inner-cursor{

    width: 25px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.2s;
    border-radius:12px;
    background-color:transparent;
    border: 1px solid white;
    
    position: absolute;
    display: none;
    transform: scale(0);
    opacity: 0;
    z-index: 0;



}





.cursor-anim{
animation-name: cursor-animation;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0;
z-index: -1;


}


@keyframes cursor-animation {
 
    0%{transform: scale(0);
    
    }
    100%{transform: scale(1.5);
        
    }


}

.cursor-anim-out{
animation-name: cursor-animation-out;
animation-duration: 0.1s;
animation-fill-mode: forwards;
animation-delay: 0;
z-index: 1;


}


@keyframes cursor-animation-out {
 
    0%{transform: scale(1.5);}
    100%{transform: scale(0);
    display: none;}


}




@keyframes more-scale {
 
    0%{transform: scale(1.5);}
    100%{transform: scale(5);
        box-shadow: 0px 1px 13px 0px white;
        background-image: radial-gradient(circle, white, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.534));
    border: none;
    }


}

@keyframes scaling {
 
    0%{transform: scale();}
    100%{transform: scale(5);
        box-shadow: 0px 1px 5px 10px white;
        background-color: white;
    }


}

@keyframes less-scale {
 
    0%{transform: scale(5);
        box-shadow: 0px 1px 5px 10px white;
        background-color: white;
    }
    100%{transform: scale(1.5);
        box-shadow: 0px 0px 0px 0px white;
        background-color:unset;
    }


}




.alfa-effect{
    transition: all linear 0.5s;
    
    padding: 0% 1%;
}

/* .alfa-effect:hover{

    
    transform: scale(1.5);
    
} */

/* .alfa-animation {
    animation-name: alfa-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    opacity: 1;
    
    
} */

/* @keyframes alfa-animation {
    
    0%{    opacity: 0;;
        transform: translate(-14px, 0px);
    
    }
    100%{    opacity: 1;
        transform: translate(0px, 0px);
    }
} */


/* ***************** second section  ****************** */


.sec-2{
    
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
position: relative;
overflow: hidden;
}

.cursor-effect-2{
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    position: fixed;
    /* transition: all linear  0.1s;  */
    z-index: 99;
    box-shadow: 0px 0px 48px 15px rgb(0, 0, 0);
    mix-blend-mode: difference;
    display: none;
    width: 50px;
    height: 50px;
}

.sec-2 .div-top{
    
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 50vh;
position: absolute;
top: 0%;
overflow: hidden;
display: flex;
    justify-content: center;
    align-items: end;
}


.sec-2 .div-top .div-text{
    font-size: 200px;
    position: absolute;
    top: 16%;
    color: black;
    /* left: 50%;
    transform: translate(50%, 50%); */
    /* margin: 0% 0% -4% 0%;; */
    
    /* position: absolute;
    top: 49%;
    left: 25%;
    transform: translate(25%, 25%); */

}



.sec-2 .div-center{
    
    background-color: rgb(8, 8, 8);
    width: 100vw;
    height: 100vh;
}

.sec-2 .div-bottom{
    
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 50vh;
position: absolute;
bottom: 0%;
overflow: hidden;
display: flex;
    justify-content: center;
    align-items: start;
}


.sec-2 .div-bottom .div-text{
    font-size: 200px;
    position: absolute;
    bottom: 16%;
    color: black;
    /* left: 50%;
    transform: translate(50%, 50%); */
/* margin: -4% 0% 0% 0%; */


    /* position: absolute;
    bottom: 65%;
    left: 25%;
    transform: translate(25%, 25%); */

}


.sec-2 .div-center{

display: flex;
justify-content: center;
align-items: center;

}

.sec-2 .div-center .div-center-content {
    margin-top: 100%;
    color: white;
}

.sec-2 .div-center .div-center-content h3{
    font-size: 100px;
}

/* screen 1440 */

@media only screen and (max-width: 1440px) {
   
    .sec-2 .div-top .div-text {
        top: 16%;
    }

    .sec-2 .div-bottom .div-text {
        bottom: 16%;
    }

  }


  @media only screen and (max-width: 1366px) {
   
    .sec-2 .div-top .div-text {
        top: 60%;
    }

    .sec-2 .div-bottom .div-text {
        bottom: 60%;
    }

  }





  /* Goto Top Button */

  #go-top{

    display: none;
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: transparent;
    font-family: 'Bebas Neue', sans-serif;
    border: 4px solid white;
    color: white;
    mix-blend-mode: difference;
    
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    z-index: 105;
width: 50px;
height: 50px;
border-radius: 100%;


  }





  

  .d-block{
    display: block !important;
animation-name: top-btn;
animation-duration: 2.5s;
animation-delay: 0s;
animation-fill-mode: both;

  }


@keyframes top-btn {

    0%{
        right: -100px;
      transform:rotate(360deg);
    }


    100%{
        right: 20px;
        transform:rotate(0deg);}
    
}

